/* reset css */
*{
	margin: 0;
	padding: 0;
}

/* flex */

.box {
	border: 1px solid #000;
	display: flex;
	padding: 20px;
	justify-content:space-between;
	align-items: center;
}

.box>div {
	margin-bottom: 10px;
	border: 1px solid #f00;
	width: 150px;
	text-align: center;
}

.box-1 {
	height: 120px;
}

.box-2 {
	height: 100px;
}

.box-3 {
	height: 40px;
}

.box>.box-4 {
	border-color: #00f; /* 设计图的颜色数值给错了 */
	height: 200px;
}


/* media width<640px */
@media screen and (max-width: 640px) {
	.box {
		flex-wrap: wrap;
	}
	.box-4 {
		order: -1;
	}
}

